img {
    width: 33%;
}

.RecipeInfo {
    padding-left: 50px;
    width: 66%;
}

.RecipeInfo h1{
    text-transform: capitalize;
}

.RecipeInfo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.RecipeInfo li {
    display: inline-block;
    text-align: center;
    padding: 5px 5%;
    text-decoration: none;
    color: rgb(36, 152, 190);
}

.RecipeInfo li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.RecipeInfo li a:hover {
    background-color: white;
}


.RecipeInfo hr {
    height: 1px;
    background-color: rgb(36, 152, 190);
    border: 0;
}

.Controls {
	position:absolute;
	bottom: 20px;
}
