.IngredientControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.IngredientControl button {
	display: block;
	font: inherit;
	padding: 5px;
	margin: 0 5px;
	width: 80px;
	border: 1px solid grey;
	cursor: pointer;
	outline: none;
}

.IngredientControl button:disabled {
	background-color: grey;
	border: 1px solid #7e7365;
	color: #ccc;
	cursor: default;
}

.IngredientControl button:hover:disabled {
	background-color: grey;
	color: #ccc;
	cursor: not-allowed;
}

.Label {
	padding: 10px;
	font-weight: bold;
	color: #ccc;
	width: 80px;
}

.IngredientControl .Less {
	background-color: grey;
	color: white;
}

.IngredientControl .More {
	background-color: darkgray;
	color: white;
}

.IngredientControl .Less:hover,
.IngredientControl .Less:active {
	background-color: darkgray;
	color: white;
}

.IngredientControl .More:hover,
.IngredientControl .More:active {
	background-color: grey;
	color: white;
}
